<a href="https://colab.research.google.com/github/vishesh-07/Summer-Training/blob/main/Day%204/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset_url = "https://raw.githubusercontent.com/harika-bonthu/02-linear-regression-fish/master/datasets_229906_491820_Fish.csv"

In [3]:
fish = pd.read_csv(dataset_url, error_bad_lines=False)
fish.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
X = fish.iloc[:, 1:]
y = fish.loc[:, 'Species']

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.svm import SVC
svmModel=SVC()
svmModel.fit(X_train,y_train)

SVC()

In [9]:
svmPredictions=svmModel.predict(X_test)
print(svmPredictions)

[2 5 3 2 2 0 5 2 2 3 0 2 0 1 0 0 2 2 2 0 5 0 0 0 0 2 2 2 5 5 3 2]

In [11]:
from sklearn.metrics import accuracy_score
svmScore=accuracy_score(y_test,svmPredictions)*100
print(svmScore)

87.5